.experience-info {
  overflow: auto;
}

h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

p.job-duration {
  font-size: 1.2rem;
  float: left;
  text-align: center;
  transform: translate(0%, 50%);
  width: 12%;
}

.job-info {
  float: right;
  padding: 10px;
  width: 83%;
}

p.job-title {
  margin: 10px 0px;
}
