/****************************************** Global *****************************************************/
:root {
  --main-blue: rgb(35, 88, 137);
  --darker-blue: rgb(46, 117, 182);
  --blue-gray: rgb(66, 100, 95);
  --tile-color: rgb(150, 174, 179);
}

/****************************************** Nav **************************************************************/
nav {
  background-color: var(--blue-gray);
  padding: 0;
  margin: 0;
  text-align: right;
  width: 100%;
}

ul.menu li {
  display: inline;
  font-size: 1.3rem;
  margin: 20px;
  text-align: right;
}

/****************************************** Body *********************************************************/

body {
  background-color: rgb(30, 37, 36);
  color: rgb(206, 206, 206);
  font: 15px "Montserrat";
  margin: 0;
  padding: 0;
}

#background-image {
  position: absolute;
  width: 97%;
}

.main-content {
  position: relative;
  top: 0;
  width: 100%;
}

/****************************************** General ***********************************************/

h1,
h2,
h3 {
  color: var(--main-blue);
  font-family: "Roboto Mono";
  font-weight: bold;
  margin: 8px 0px;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 10px;
  margin-top: 0px;
}

.tab {
  margin: 10px 40px;
}

ul.custom-dot li::before {
  content: "\2022";
  color: var(--main-blue);
  display: inline-block;
  font-weight: bold;
  margin-left: -1rem;
  text-align: center;
  width: 1rem;
}

img {
  margin: 10px;
}

a {
  color: darkgray;
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: none;
}

/****************************************** Tile ***********************************************/

.tile {
  background-color: var(--tile-color);
  border-radius: 7px;
  color: black;
  float: left;
  margin: 15px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  text-align: left;
  width: auto;
  max-width: 500px;
}

.tile a {
  color: var(--main-blue);
  font-weight: bold;
  text-decoration: none;
}

.tile a:hover {
  color: var(--darker-blue);
  text-decoration: none;
}
